<div
  class="card mb-3 mt-5 w-3/12 h-full rounded-xl shadow-2xl shadow-purple-100 justify-center items-center flex mx-auto"
>
  <img
    src="{{ newUser.avatar }}"
    class="card-img-top rounded-full border-2 border-purple-200 w-48 h-48"
    alt="profile_image"
  />
  <div class="card-body border-t-2 border-purple-100 w-full mt-3 text-center">
    <h5 class="card-title">
      {{ newUser.name }}
    </h5>
    <p class="card-text py-1">{{ newUser.bio }}</p>
    <p class="card-text py-1">
      <!-- Public Repositories: {{ newUser.public_repos }} -->
    </p>
    <p class="card-text">{{ newUser.profile }}</p>
    <p class="card-text py-1">
      Followers: {{ newUser.followers }} || Following:
      {{ newUser.following }}
    </p>
    <div>
      <a href="{{ newUser.email }}"
        ><button
          class="card-text py-1 rounded-md w-48 border-2 border-purple-500 hover:bg-purple-300 hover:text-purple-600"
        >
          Visit Profile
        </button></a
      >
    </div>

    <p class="card-text">Joined: {{ newUser.created_at | date }}</p>
    <p class="card-text">
      <small class="text-muted">&copy; Monica Masae</small>
    </p>
  </div>
</div>

<div *ngFor="let repo of repos">
    <div class="card">
        <div class="card-header">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

</div>

