<div class="container font flex h-screen justify-center items-center ">
  <form
    [formGroup]="searchForm"
    (ngSubmit)="searchUser()"
    class="bg-purple-100 p-5 rounded-xl hover:animate-pulse"
  >
    <label for="Username" class="block font-bold mr-5"
      >Enter Username:</label
    >
    <input
      type="text"
      class="border-2 border-gray-300 p-2 w-96 rounded-md mt-2"
      placeholder="@Username"
      formControlName="username"
      name=""
      id="username"
      required
    />

    <button
      type="submit"
      [disabled]="!this.searchForm.valid"
      class="bg-purple-200 text-purple-700 p-2 rounded-md w-32 ml-3"
    >
      Get User
    </button>
  </form>
</div>
